# Exploratory Data Analysis

In [1]:
# Importing required libraries
import pandas as pd
import os

In [2]:
# Changing the directory
os.chdir("C:/Users/Siddhesh/Desktop/Siddhesh/Projects/Netflix Shows/Original_Data")

# Confirming the current directory
os.getcwd()

'C:\\Users\\Siddhesh\\Desktop\\Siddhesh\\Projects\\Netflix Shows\\Original_Data'

In [3]:
# Creating a function to select first out of multiple items in a particular column
def select_first(col):
    
    # Creating an empty array to store the first item
    temp = []
    
    # Iterating through the column
    for row in range(0, len(col)):
        
        # Splitting the items in each row
        items = col[row].split(", ")
        
        # Storing the first item in the empty array
        temp.append(items[0])
        
    # Returning the stored items
    return temp

In [4]:
# Loading the first data set
show_data = pd.read_csv("show_data.csv", index_col=False)

In [5]:
# Dropping unnecessary columns from the data
show_data.drop(labels=["director", "cast"], axis=1, inplace=True)

In [6]:
# Displaying the dataframe
show_data.head(30)

,show_id,type,title,country
0,s1,TV Show,3%,Brazil
1,s2,Movie,7:19,Mexico
2,s3,Movie,23:59,Singapore
3,s4,Movie,9,United States
4,s5,Movie,21,United States
5,s6,TV Show,46,Turkey
6,s7,Movie,122,Egypt
7,s8,Movie,187,United States
8,s9,Movie,706,India
9,s10,Movie,1920,India
10,s11,Movie,1922,United States
11,s12,TV Show,1983,"Poland, United States"
12,s13,TV Show,1994,Mexico
13,s14,Movie,"2,215",Thailand
14,s15,Movie,3022,United States
15,s16,Movie,1-Oct,Nigeria
16,s17,TV Show,9-Feb,NaN
17,s18,Movie,22-Jul,"Norway, Iceland, United States"
18,s19,Movie,15-Aug,India
19,s20,Movie,'89,United Kingdom
20,s21,Movie,​​Kuch Bheege Alfaaz,India
21,s22,Movie,​Goli Soda 2,India
22,s23,Movie,​Maj Rati ​​Keteki,India
23,s24,Movie,​Mayurakshi,India
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,Japan
25,s26,Movie,(T)ERROR,United States
26,s27,TV Show,(Un)Well,United States
27,s28,Movie,#Alive,South Korea
28,s29,Movie,#AnneFrank - Parallel Stories,Italy
29,s30,TV Show,#blackAF,United States

In [7]:
# Finding the total number of nan in each column
show_data.isna().sum()

show_id      0
type         0
title        0
country    507
dtype: int64

In [8]:
# Imputing the missing country names with the most occurring country name
show_data.fillna(value=show_data.country.mode()[0], inplace=True)

In [9]:
# Finding the total number of nan in each column
show_data.isna().sum()

show_id    0
type       0
title      0
country    0
dtype: int64

In [10]:
# Retrieving the first country mentioned
country = select_first(show_data.country)

# Adding the country to the dataframe
show_data["country"] = country

In [11]:
# Displaying the dataframe
show_data.head(30)

   show_id     type                                title         country
0       s1  TV Show                                   3%          Brazil
1       s2    Movie                                 7:19          Mexico
2       s3    Movie                                23:59       Singapore
3       s4    Movie                                    9   United States
4       s5    Movie                                   21   United States
5       s6  TV Show                                   46          Turkey
6       s7    Movie                                  122           Egypt
7       s8    Movie                                  187   United States
8       s9    Movie                                  706           India
9      s10    Movie                                 1920           India
10     s11    Movie                                 1922   United States
11     s12  TV Show                                 1983          Poland
12     s13  TV Show                                 1994          Mexico
13     s14    Movie                                2,215        Thailand
14     s15    Movie                                 3022   United States
15     s16    Movie                                1-Oct         Nigeria
16     s17  TV Show                                9-Feb   United States
17     s18    Movie                               22-Jul          Norway
18     s19    Movie                               15-Aug           India
19     s20    Movie                                  '89  United Kingdom
20     s21    Movie                 ​​Kuch Bheege Alfaaz           India
21     s22    Movie                         ​Goli Soda 2           India
22     s23    Movie                   ​Maj Rati ​​Keteki           India
23     s24    Movie                          ​Mayurakshi           India
24     s25  TV Show  ​SAINT SEIYA: Knights of the Zodiac           Japan
25     s26    Movie                             (T)ERROR   United States
26     s27  TV Show                             (Un)Well   United States
27     s28    Movie                               #Alive     South Korea
28     s29    Movie        #AnneFrank - Parallel Stories           Italy
29     s30  TV Show                             #blackAF   United States

In [12]:
# Loading the second data set
show_desc = pd.read_csv("show_description.csv", index_col=False)

In [13]:
# Retrieving the genre of the shows
genre = select_first(show_desc.listed_in)

# Adding the genre to the dataframe
show_desc["genre"] = genre

In [14]:
# Dropping unnecessary columns from the data
show_desc.drop(labels=["date_added", "listed_in", "description"], axis=1, inplace=True)

In [15]:
# Displaying the dataframe
show_desc.head(30)

   show_id  release_year rating   duration                   genre
0       s1          2020  TV-MA  4 Seasons  International TV Shows
1       s2          2016  TV-MA     93 min                  Dramas
2       s3          2011      R     78 min           Horror Movies
3       s4          2009  PG-13     80 min      Action & Adventure
4       s5          2008  PG-13    123 min                  Dramas
5       s6          2016  TV-MA   1 Season  International TV Shows
6       s7          2019  TV-MA     95 min           Horror Movies
7       s8          1997      R    119 min                  Dramas
8       s9          2019  TV-14    118 min           Horror Movies
9      s10          2008  TV-MA    143 min           Horror Movies
10     s11          2017  TV-MA    103 min                  Dramas
11     s12          2018  TV-MA   1 Season          Crime TV Shows
12     s13          2019  TV-MA   1 Season          Crime TV Shows
13     s14          2018  TV-MA     89 min           Documentaries
14     s15          2019      R     91 min      Independent Movies
15     s16          2014  TV-14    149 min                  Dramas
16     s17          2018  TV-14   1 Season  International TV Shows
17     s18          2018      R    144 min                  Dramas
18     s19          2019  TV-14    124 min                Comedies
19     s20          2017  TV-PG     87 min           Sports Movies
20     s21          2018  TV-14    110 min                  Dramas
21     s22          2018  TV-14    128 min      Action & Adventure
22     s23          2017  TV-14    117 min                  Dramas
23     s24          2017  TV-14    100 min                  Dramas
24     s25          2020  TV-14  2 Seasons            Anime Series
25     s26          2015     NR     84 min           Documentaries
26     s27          2020  TV-MA   1 Season              Reality TV
27     s28          2020  TV-MA     99 min           Horror Movies
28     s29          2019  TV-14     95 min           Documentaries
29     s30          2020  TV-MA   1 Season             TV Comedies

In [16]:
# Finding the total number of nan in each column
show_desc.isna().sum()

show_id         0
release_year    0
rating          7
duration        0
genre           0
dtype: int64

In [17]:
# Imputing the missing ratings with the most occurring rating
show_desc.fillna(value=show_desc.rating.mode()[0], inplace=True)

In [18]:
# Finding the total number of nan in each column
show_desc.isna().sum()

show_id         0
release_year    0
rating          0
duration        0
genre           0
dtype: int64

In [19]:
# Confirming the shapes of both the dataframes
print(show_data.shape)
print(show_desc.shape)

(7787, 4)
(7787, 5)

In [20]:
# Changing the directory
os.chdir("C:/Users/Siddhesh/Desktop/Siddhesh/Projects/Netflix Shows/Prepared_Data")

# Confirming the current directory
os.getcwd()

'C:\\Users\\Siddhesh\\Desktop\\Siddhesh\\Projects\\Netflix Shows\\Prepared_Data'

In [21]:
# Saving the files as csv
show_data.to_csv("show_data.csv", index=False)
show_desc.to_csv("show_description.csv", index=False)